#orders{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-block:1rem;
}

#outer-orders{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.149);
    border-radius: 5px;
    height: max-content;
    box-shadow: 0px 5px 10px 5px #f1f3ff1c,0px -5px 10px 5px #f1f3ff1c,5px 0px 10px 5px #f1f3ff1c,-5px 0px 10px 5px #f1f3ff1c;
}
.inner-orders{
    display: flex;
    height: 300px;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}
.index{
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-image{
    width: 20%;
    display: flex;
    align-items: center;
}
.orders-image img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.orders-desc{
    display: flex;
   flex-direction: column;
   justify-content: center;
    width: 50%;
}
.count{
    display: flex;
}
.count-btn{
    padding-inline: 1rem;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: transparent;
}
.other-btn{
    display: flex;
    column-gap: 1rem;
}
.save-btn{
    padding: 5px 10px;
    color: white;
    border: none;
    background: linear-gradient(to right,#605DFF,#5DA8FF);
    border-radius: 10px;
}
.remove-btn{
    padding: 0.5rem 1rem;
    border: 1px solid #605DFF;
    color: #605DFF;
    border-radius: 10px;
    background-color: transparent;
    margin-inline-end: 1rem;
}
.orders-btn p{
    margin-inline: 10px;
    font-size: 1.2rem;
}
.productname{
    font-size: 1.3rem;
    font-weight: 800;
}
.productprice{
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
}
.productprice-2{
    font: 0.9rem;
    display: inline-block;
    margin-inline:20px
}
.sum{
    font-size: 1.5rem;
    font-weight: 600;
}
@media screen and (max-width:992px){
    
    #outer-orders{
        width: 90%;
        margin-inline: auto;
    }
    .inner-orders{
        width: 100%;
    }
   .orders-desc{
    width: 60%;
   }
   #orders-total{
    width: 80%;
    margin-inline: auto;
   }
}
@media screen and (max-width:576px){
    #orders{
        flex-direction: column;
        justify-content: start;
        row-gap: 1rem;
    }
    #outer-orders{
        width: 90%;
        margin-inline:auto;
    }
    #orders-total{
        width: 90%;
        font-size: 1.2rem;
        margin-inline: auto;
    }
    .inner-orders{
        width: 100%;
        height: 200px;
    }
    .orders-image{
        width: max-content;
    }
    .orders-image img{
        width: 50px;
        height: 75px;
        object-fit: contain;
    }
    .orders-desc{
        width: 70%;
    }
    .productname{
        font-size: 0.85rem;
    }
    .orders-btn{
        font-size: 0.85rem;
        flex-direction: column;
        row-gap: 10px;
    }
    .count-btn{
        padding-inline:0.5rem;
        border-radius: 5px;
    }
}